<p><%= @todos.each do |todo| %></p>
 <%= todo.description %>
 <%= todo.completed %>
 <%= link_to "Show", show_path(todo.id) %>
 <%= link_to "Edit", edit_path(todo.id) %>
 <%= link_to "borrar", todos_path, method: :delete %>
<% end %>

